ion-content{

    .grafico{
        .image {
            display: block;
            width: 40%;
            margin: auto;
            padding-top: 3rem;
            padding-bottom: 3rem;
           }
    }

    .card {
        width: 90%;
        background: #e66d38;
        text-align: center;
        margin: auto;
        color: aliceblue;
    }

    .grafic {
        padding-top: 20px;
        padding-left: 20%;
        padding-right: 20%;
        text-align: center;
    }

    .retiros{
        padding-top: 10px;
        padding-bottom: 30px;
        padding-left: 5%;
        padding-right: 5%;
    }

}