<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="grafic">
    <ion-card>
      <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#e66d38'"
        [innerStrokeColor]="'#fd9163'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </ion-card>
  </div>

  <div class="retiros">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="card">
            <ion-card-content>
              <h2>Retiros pendientes</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="card">
            <ion-card-content>
              <h2>Retiros realizados</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="grafic">
    <ion-card>
      <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#e66d38'"
        [innerStrokeColor]="'#fd9163'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </ion-card>
  </div>

  <div class="retiros">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="card">
            <ion-card-content>
              <h2>Entregas pendientes</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="card">
            <ion-card-content>
              <h2>Entregas realziadas</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  
</ion-content>
