ion-content{

    .card {
        width: 100%;
        background: #e66d38;
        text-align: center;
        margin: auto;
        color: aliceblue;
        display: inline-flex;
    }

    .grafic {
        padding-top: 20px;

        text-align: center;
    }

    .retiros{
        padding-top: 10px;
        padding-bottom: 30px;
        padding-left: 5%;
        padding-right: 5%;
    }
}