ion-content{

    .card {
        width: 100%;
        background: #e66d38;
        text-align: center;
        margin: auto;
        color: aliceblue;
    }

    .grafic {
        padding-top: 20px;
        padding-left: 20%;
        padding-right: 20%;
        text-align: center;
    }

    .retiros{
        padding-top: 10px;
        padding-bottom: 30px;
        padding-left: 5%;
        padding-right: 5%;
    }
}