ion-input {
    margin-bottom: 15px;
  }
  
  ion-button {
    margin-top: 20px;
  }

  ion-label,ion-item {
    color: white;
  }

  ion-img {
    padding-top: 5px;
    height: 230px;
    display: flex;
    justify-content: center;
  }
  