
<ion-header>
  <ion-toolbar>
    <app-header slot="start"></app-header>
    <ion-title>Confirmación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">RUT</ion-label>
    <ion-input type="text" [(ngModel)]="rut" (ionChange)="verificarCamposCompletados()"></ion-input>

  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="nombre" (ionChange)="verificarCamposCompletados()" ></ion-input>
  
  </ion-item>

  <ion-button expand="full" (click)="takeImagen()" >Subir fotografia</ion-button>
  <ion-button expand="full" [routerLink]="['/tabs/entrega']" (click)="cambiarEstadoDelPedido()" (click)="crearEntregaConfirmacion()" [disabled]="!confirmarHabilitado">Confirmar</ion-button>


  <ion-img *ngIf="newcliente.image"
  src="{{newcliente.image}}"></ion-img>

</ion-content>

